body {
  background-color: rgb(70, 57, 255);
  color: darkblue;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

img {
  width: 300px;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  text-decoration: underline;
  color: rgb(255, 252, 52);
  background-color: rgb(41, 245, 0);
  background-image: -moz-repeating-radial-gradient(src="hacker.jpg");
}

h3 {
  text-align: center;
  padding-bottom: 2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box {
  
  padding: 20px;
  border: solid rgb(30, 70, 201);
  border-width: 20px;
  background-color: rgb(119, 151, 221);
  margin-bottom: 10px;
}

.lalala {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: rgb(130, 219, 247);
  border-radius: 0.3rem;
}

#yes {
  display: none;
}

#no {
  display: none;
}

#perhaps {
  display: none;
}

#psyche {
  background-color: rgb(252, 77, 228);
  padding: 20px;
  border: solid rgb(240, 134, 226);
  border-width: 10px;
  margin-bottom: 10px;

}